doctype html
html
  head
    meta(charset="utf-8")
    title Мій To-Do List
    style.
      body {
        padding: 35px;
        background: #fafafa;
        font-family: Verdana;
      }
      h2 { text-align: left; }
      .done { color: #888; text-decoration: line-through; }
  body
    block content
